APScheduler==3.6.3
argcomplete==2.0.0
backcall==0.2.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
debugpy==1.4.1
decorator==5.0.9
distlib==0.3.4
entrypoints==0.3
filelock==3.6.0
Flask==2.0.1
idna==3.2
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jupyter-client==7.0.2
jupyter-core==4.7.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
nest-asyncio==1.5.1
numpy==1.21.1
opencv-python==4.5.3.56
packaging==21.3
parso==0.8.2
pickleshare==0.7.5
pipenv==2022.1.8
pipx==1.0.0
platformdirs==2.5.1
prompt-toolkit==3.0.20
pygame==2.0.1
Pygments==2.10.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==3.0.0
pyzmq==22.2.1
requests==2.26.0
six==1.16.0
tornado==6.1
traitlets==5.1.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.6
userpath==1.8.0
virtualenv==20.13.2
virtualenv-clone==0.5.7
wcwidth==0.2.5
Werkzeug==2.0.1
